---
layout: default
title: "Audio"
---

<h1 class="large center wave">
  Releases
</h1>

<ul class="clearfix">
  {% include audioTile.html
    title="Entre Temps Perdus"
    subtitle="Martín Rodríguez"
    image="ETP.jpg"
    url="https://www.youtube.com/watch?v=WGFxcdGjVZc&t=2s&ab_channel=rdzmartin"
  %}
  
  {% include audioTile.html
    title="Radio Therapy"
    subtitle="Martín Rodríguez"
    image="RT_Cover.jpeg"
    url="https://martinrodriguez.bandcamp.com/album/radio-therapy"
  %}

  <li class="audioTile gap"></li>

  {% include audioTile.html
    title="Substrat (Live at S.A.T.)"
    subtitle="Martín Rodríguez"
    image="Sub_cover.jpeg"
    url="https://martinrodriguez.bandcamp.com/album/substrat-live-at-s-a-t"
  %}
  
  <li class="audioTile gap"></li>

  {% include audioTile.html
    title="Open La Puerta"
    subtitle="Martín Rodríguez"
    image="OLP_cover.jpeg"
    url="https://martinrodriguez.bandcamp.com/album/open-la-puerta"
  %}

  {% include audioTile.html
    title="American Trance"
    subtitle="Data Slum"
    image="AT_Cover.jpeg"
    url="https://dataslum.bandcamp.com/album/american-trance"
  %}

  <li class="audioTile gap"></li>
  
  {% include audioTile.html
    title="Douchi Sushi"
    subtitle="Data Slum"
    image="DS_cover.jpeg"
    url="https://dataslum.bandcamp.com/album/douchi-sushi"
  %}
</ul>

<h1 class="large center wave">
  Collaborations
</h1>

<ul class="clearfix">
  {% include audioTile.html
    title="Le Chas"
    subtitle="Chienvoler"
    image="le-chas.jpg"
    url="https://chienvoler.bandcamp.com/album/le-chas"
  %}
  
  <li class="audioTile gap"></li>

  {% include audioTile.html
    title="Adonides"
    subtitle="Chienvoler"
    image="CH2_cover.jpeg"
    url="https://chienvoler.bandcamp.com/album/adonides"
  %}

  {% include audioTile.html
    title="Chocolop"
    subtitle="Felp"
    image="chocolop.jpg"
    url="https://felp1.bandcamp.com/album/chocolop"
  %}
  
  <li class="audioTile gap"></li>

  {% include audioTile.html
    title="Etendu Jouer"
    subtitle="Felp"
    image="EJ_cover.jpeg"
    url="https://felp1.bandcamp.com/album/tendu-jouer-2"
  %}
</ul>

<h1 class="large center">
  Online Archive
</h1>

<ul>
  {% include audioRow.html
    title="Huevos Rancheros ep 011"
    year="2019—2020"
    url="https://felp1.bandcamp.com/album/chocolop"
    source="Mixcloud"
  %}

  {% include audioRow.html
    title="Lost & Found"
    year="2020"
    url="https://felp1.bandcamp.com/album/chocolop"
    source="Soundcloud"
  %}

  {% include audioRow.html
    title="The Radius Sketchpad Mix"
    year="2019"
    url="https://felp1.bandcamp.com/album/chocolop"
    source="Mixcloud"
  %}
</ul>
