---
layout: default
title: "Audio"
---

<h1 class="large center wave">
  Releases
</h1>

<ul class="clearfix">
  {% include audioTile.html
    title="Le Chas"
    subtitle="Chienvoler"
    image="le-chas.jpg"
    url="https://chienvoler.bandcamp.com/album/le-chas"
  %}
  
  {% include audioTile.html
    title="Chocolop"
    subtitle="Felp"
    image="chocolop.jpg"
    url="https://felp1.bandcamp.com/album/chocolop"
  %}

  <li class="audioTile gap"></li>

  {% include audioTile.html
    title="Le Chas"
    subtitle="Chienvoler"
    image="le-chas.jpg"
    url="https://chienvoler.bandcamp.com/album/le-chas"
  %}
  
  <li class="audioTile gap"></li>

  {% include audioTile.html
    title="Chocolop"
    subtitle="Felp"
    image="chocolop.jpg"
    url="https://felp1.bandcamp.com/album/chocolop"
  %}

  {% include audioTile.html
    title="Le Chas"
    subtitle="Chienvoler"
    image="le-chas.jpg"
    url="https://chienvoler.bandcamp.com/album/le-chas"
  %}
  
  {% include audioTile.html
    title="Chocolop"
    subtitle="Felp"
    image="chocolop.jpg"
    url="https://felp1.bandcamp.com/album/chocolop"
  %}
</ul>

<h1 class="large center wave">
  Collaborations
</h1>

<ul class="clearfix">
  {% include audioTile.html
    title="Le Chas"
    subtitle="Chienvoler"
    image="le-chas.jpg"
    url="https://chienvoler.bandcamp.com/album/le-chas"
  %}
  
  <li class="audioTile gap"></li>

  {% include audioTile.html
    title="Chocolop"
    subtitle="Felp"
    image="chocolop.jpg"
    url="https://felp1.bandcamp.com/album/chocolop"
  %}

  {% include audioTile.html
    title="Le Chas"
    subtitle="Chienvoler"
    image="le-chas.jpg"
    url="https://chienvoler.bandcamp.com/album/le-chas"
  %}
  
  <li class="audioTile gap"></li>

  {% include audioTile.html
    title="Chocolop"
    subtitle="Felp"
    image="chocolop.jpg"
    url="https://felp1.bandcamp.com/album/chocolop"
  %}
</ul>

<h1 class="large center">
  Online Archive
</h1>

<ul>
  {% include audioRow.html
    title="Huevos Rancheros ep 011"
    year="2019—2020"
    url="https://felp1.bandcamp.com/album/chocolop"
    source="Mixcloud"
  %}

  {% include audioRow.html
    title="Lost & Found"
    year="2020"
    url="https://felp1.bandcamp.com/album/chocolop"
    source="Soundcloud"
  %}

  {% include audioRow.html
    title="The Radius Sketchpad Mix"
    year="2019"
    url="https://felp1.bandcamp.com/album/chocolop"
    source="Mixcloud"
  %}
</ul>
