{% for page in site.pages %}
  {% if page.url == "/live.html" %}
    {% assign player = page %}
  {% endif %}
{% endfor %}

{% if player.enable %}
  <section class="audioPlayer">
    <audio src="{{ player.stream }}"></audio>
    <button class="play" disabled>
      <img src="/assets/images/play.svg" alt="Play">
    </button>
    <span class="live">Live now</span>
    <span class="playbackIndicator">Currently Paused</span>
    <span class="title">{{ player.title }}</span>
    <button class="details">
      <img src="/assets/images/close.svg" alt="Details">
    </button>

    <div class="content">
      <h1 class="large center">{{ player.title }}</h1>
      <div class="text large">
        {{ player.content }}
      </div>
    </div>
  </section>
{% endif %}

