<footer>
  <div class="col">
    Subscribe to an occasional newsletter
  </div>
  <div class="col">
    <a href="mailto:info@rdzmartin.com">info@rdzmartin.com</a><br>
    6830 rue Saint André, #201<br>
    Montreal QC, H2S 2L2
  </div>
  <div class="col">
    <ul>
      <li><a href="http://instagram.com/rdzmartin" target="_blank">Instagram</a></li>
      <li><a href="https://twitter.com/openlapuerta" target="_blank">Twitter</a></li>
      <li><a href="https://www.facebook.com/rdz.martin" target="_blank">Facebook</a></li>
      <li><a href="http://soundcloud.com/openlapuerta" target="_blank">Soundcloud</a></li>
    </ul>
  </div>
  <div class="col copyright">
    © 2021 Martin Rodriguez
  </div>
</footer>
