.audioPlayer {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: $bodyColor;
  color: $backgroundColor;
  text-align: center;
  padding: $spacer1 0;

  &.fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 2000;

    .title {
      display: none;
    }

    button.details {
      height: auto;

      @include tablet {
        right: $spacer1;
      }
    }

    .content {
      display: block;
    }
  }

  &.playing {
    .playbackIndicator {
      animation: 0.5s waveloop linear infinite;
    }
  }

  button {
    transition: opacity 0.2s;
    position: relative;
    top: 3px;
    background: transparent;
    border: 0;
    margin-right: 0.5rem;
    padding: 0;
    cursor: pointer;

    &:disabled {
      opacity: 0.1;
    }

    &:focus {
      outline: none;
      opacity: 0.4;
    }

    &:hover:focus {
      opacity: 1;
    }

    &.details {
      position: absolute;
      top: 1.3rem;
      margin-right: 0;
      right: $spacer1;
      height: 13px;
      overflow: hidden;

      @include tablet {
        right: $spacer2;
      }
    }
  }

  .live {
    font-weight: bold;
  }

  .playbackIndicator {
    display: inline-block;
    width: 59px;
    height: 20px;
    background: url("/assets/images/wave-loop.svg") repeat-x;
    text-indent: -9999px;
    margin: 0 1rem;
  }

  .title {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  .content {
    display: none;
    text-align: left;
    margin: auto;
    padding: $spacer1;

    @include tablet {
      padding: $spacer2;
    }

    @include desktop {
      max-width: 50%;
    }
  }

  .wave {
    background-image: url("../images/wave-white.svg");
  }
}

@keyframes waveloop {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -17px;
  }
}
