@font-face {
  font-family: "Whyte";
  src: url("../fonts/ABCWhyte-Book.woff") format('woff');
  src: url("../fonts/ABCWhyte-Book.woff2") format('woff2');
}

@font-face {
  font-family: "Whyte";
  src: url("../fonts/ABCWhyte-BookItalic.woff") format('woff');
  src: url("../fonts/ABCWhyte-BookItalic.woff2") format('woff2');
  font-style: italic;
}

@font-face {
  font-family: "Whyte";
  src: url("../fonts/ABCWhyte-Bold.woff") format('woff');
  src: url("../fonts/ABCWhyte-Bold.woff2") format('woff2');
  font-weight: bold;
}
