@font-face {
  font-family: "RDZfont";
  src: url("../fonts/RDZfont-Book.woff") format('woff');
  src: url("../fonts/RDZfont-Book.woff2") format('woff2');
}

@font-face {
  font-family: "RDZfont";
  src: url("../fonts/RDZfont-BookItalic.woff") format('woff');
  src: url("../fonts/RDZfont-BookItalic.woff2") format('woff2');
  font-style: italic;
}

@font-face {
  font-family: "RDZfont";
  src: url("../fonts/RDZfont-Bold.woff") format('woff');
  src: url("../fonts/RDZfont-Bold.woff2") format('woff2');
  font-weight: bold;
}
