body > header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  margin: $spacer1 0 $spacer3;
  top: 0;
  z-index: 1000;
  background-color: $backgroundColor;

  &.showMenu {
    background-color: black;
    flex-direction: column;

    > a {
      display: none;
    }

    button.open {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 2em;
      padding-top: $spacer3;
      padding-bottom: $spacer3;

      a {
        color: $backgroundColor;
      }
    }
  }

  > a {
    font-weight: bold;
    font-size: 1.1em;
  }

  button {
    border: 0;
    background: url("../images/menu.svg") no-repeat center;
    text-indent: -9999px;
    width: 31px;

    @include tablet {
      display: none;
    }
  }

  button.close {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/close.svg");
    width: calc(2rem + 24px);
    height: calc(2rem + 24px);
  }

  ul {
    display: none;

    @include tablet {
      display: flex;

      li {
        margin-left: $spacer2;
      }
    }
  }

  a {
    display: block;
    padding: $spacer1 0;
  }
}

section.content.projects, section.content.index {
  margin-top: -#{$spacer2};
}
