.projectTile {
  display: block;
  position: relative;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  height: 24rem;
  margin-bottom: $spacer2;

  li:first-child & {
    height: 48rem;
  }

  .label {
    color: $backgroundColor;
    position: absolute;
    bottom: 1.7rem;
    left: $spacer2;

    h1, h2 {
      font-size: 1rem;
      display: inline-block;
      font-weight: normal;
    }

    h1 {
      font-weight: bold;
      background: url("../images/wave-white.svg") no-repeat right;
      padding-right: 70px;
      margin-right: 8px;
    }

    h2 {
      @extend .smallcaps;
    }
  }
}
