.projectTile {
  display: block;
  position: relative;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  height: 0;
  padding-bottom: 40%;
  margin-bottom: $spacer1;

  li:first-child & {
    padding-bottom: 62.5%;
  }

  @include tablet {
    margin-bottom: $spacer2;
  }

  .label {
    color: $backgroundColor;
    position: absolute;
    bottom: 0.9rem;
    left: $spacer1;

    @include tablet {
      bottom: 1.7rem;
      left: $spacer2;
    }

    h1, h2 {
      display: inline-block;
      font-weight: normal;
    }

    h1 {
      font-size: 1rem;
      font-weight: bold;
      background: url("../images/wave-white.svg") no-repeat right;
      padding-right: 70px;
      margin-right: 8px;
    }

    h2 {
      @extend .smallcaps;
    }
  }
}
