.workshop {
  @include desktop {
    margin: $spacer4 0;
  }

  header {
    border-top: 1px solid;
    border-bottom: 1px solid;

    @include desktop {
      display: flex;
    }

    .meta {
      @extend .smallcaps;
      padding: 1.3rem 0 0.8rem;

      @include desktop {
        width: 2 / 12 * 100%;
        padding-top: 2rem;
      }
    }
  
    h1 {
      padding-bottom: 1.3rem;

      @include desktop {
        width: 5 / 12 * 100%;
        padding-top: 1rem;
        padding-right: 1rem;
        border-right: 1px solid black;
      }
    }
  }

  .content {
    @include desktop {
      display: flex;
    }

    .image {
      margin-top: 1rem;
      margin-bottom: 1.3rem;

      @include desktop {
        order: 1;
        width: 5 / 12 * 100%;
        padding-left: 1rem;
        margin-bottom: 0;
      }
    }
  
    .description {
      @include desktop {
        width: 5 / 12 * 100%;
        padding-top: 1rem;
        padding-right: 1rem;
        border-right: 1px solid;
      }
    }
  
    .link {
      @include desktop {
        order: -1;
        width: 2 / 12 * 100%;
        padding-top: 1rem;
      }
      
      a {
        @extend .smallcaps;
        padding-left: 1.3rem;
        background: url("../images/arrow-down.svg") no-repeat left center;
      }
    }
  }

  &.photo-left {
    @include desktop {
      .image {
        margin-top: 0;
        padding-top: 1rem;
        padding-left: 0;
        padding-right: 1rem;
        order: 0;
        border-right: 1px solid;
      }
      
      .description {
        order: 1;
        border-right: 0;
        padding-left: 1rem;
      }
    }
  }
}
