<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} — {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="/assets/scripts/pjax.min.js"></script>
  </head>
  <body>
    {% include audioPlayer.html %}
    {% include header.html %}
    <section class="content {{ page.slug }}">
      {{ content }}
    </section>
    {% include footer.html %}
    <script src="/assets/scripts/main.js"></script>
  </body>
</html>
